 .logo-produto img {
    max-width: 80px;
  }
  
  .imagem-produto-central img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
  }
  
  .info-produto {
    flex: 1;
    text-align: left;
  }
  
  .info-produto h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .info-produto h4 {
    font-size: 18px;
    color: #17836E;
    margin-bottom: 10px;
  }
  
  .info-produto p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .beneficios {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
  }
  
  .beneficio img {
    max-width: 40px;
    margin-bottom: 5px;
  }
  
  .canto-decorativo {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-color: #105C43;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
  